_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
/.vs/ajmarzola.github.io
/.vs/ajmarzola.github.io/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
/.vs/slnx.sqlite
/.vs/ajmarzola.github.io/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
/.vs
/.vs/ajmarzola.github.io/v17/.wsuo
/.vs/ajmarzola.github.io/v17/DocumentLayout.json
