################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ajmarzola.github.io/CopilotIndices/17.12.31.40377
