body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
}

.container {
    position:relative;
    left:27%;
    top:70% !important;
    width: 38%;
    margin: 20px auto;
    background-color: #ddd;
    border-radius: 10px;
    padding: 20px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
